
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


body{
    background-color: #8987a128;
}

.text-color{
    color: #E95A08;
}

.p-color{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.425);
}


.p-decoration{
    width: 888px;
}

/* Nav */

.padding{
    padding: 0 100px;
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.list-container{
    display: flex;
    text-align: center;
}

.list-container li{
    list-style: none;
    margin-right: 48px;
    
}

.list-container #trolly{
    width: 20px;
    height: 20px;
}

.list-container a{
    text-decoration: none;
    color: black;
}

/* nav for mobile */

@media screen and (max-width: 576px){
    .navbar{
        width: 100%;
        margin: 0 16px;
        padding: 0;

    }
    .logo{
        width: 60px;
        height: 35px;
    }
    .hidden-list{
        display: none;
    }
}


/* section of introduction */

.introduction{
    display: flex;
    margin-top: 100px;
}
.introduction-heading{
    padding-top: 100px;
}
.introduction-heading h2{
    font-size: 3.5rem;
    margin-bottom: 0;
}

@media screen and (max-width: 576px){
    .introduction{
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .introduction-heading{
        padding: 0;
    }
    .introduction-heading h2{
        font-size: 1.2rem;
        width: 191px;
    }
}


/* our plants */

.cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-section{
    font-size: 2.7rem;
}

.card-intro{
    text-align: center;
    justify-items: center;
}
.card-intro h3{
    margin-bottom: 0;
}


.card-items{
    width: 250px;
    height: 450px;
    margin-bottom: 25px;
}

.card-items img{
    width: 250px;
    height: 300px;
}

.card-description{
    text-align: center;
}

.card-description h5{
    margin-bottom: 5px;
    font-size: 1rem;
}

.card-description h4{
    margin: 0;
    font-size: 1.2rem;
}

.cart-button{
    width: 250px;
    height: 45px;
    color: white;
    background-color: #E95A08;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 576px){
    .card-section{
        margin: 0;
        padding: 0;
    }
    .card-intro h3{
        font-size: 1.5rem;
    }
    .card-intro p{
        width: 336px;
        height: 68px;
        font-size: 0.8rem;
    }
    .cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-items{
        width: 171px;
        height: 340.5px;
        margin-right: 20px;
        padding: 0 0 25px 16px;
    }
    .card-items img{
        width: 171px;
        height: 196.5px;
    }
    .cart-button{
        width: 171px;
        height: 50px;
        
    }
}

/* plant lover */

.plants-lover{
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
}

.plants-lover #badge{
    width: 256px;
    height: 256px;
    margin-left: -170px;
    margin-top: -130px;
}

.plants-reveiw h3{
    font-size: 2.7rem;
    width: 400px;
    height: 137px;
    margin-bottom: 0;
}

.plants-reveiw ul li{
    margin-bottom: 20px;
}

@media screen and (max-width: 576px){
    .plants-lover{
        flex-direction: column;
        margin: 0;
        padding: 0 15px;
    }
    
}


/*  */

.Deals{
    text-align: center;
    justify-items: center;
    margin-bottom: 100px;
}

.Deals h3{
    font-size: 2.7rem;
    margin-bottom: 0;
}
.deal-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Inter", sans-serif;
}


.deal-container{
    margin-bottom: 100px;
}

.bolom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("./assets/deal-bloom.png");
    width: 356px;
    height: 192px;
    margin-bottom: 25px;
    border-radius: 14px;
}

.bolom-contants{
    text-align: center;
    padding: 65px 0;
}

.ana{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("./assets/deal-ana.png");
    width: 356px;
    height: 192px;
    border-radius: 14px;
}

.ana-contants{
    text-align: center;
    padding: 65px 0;
}

.zabo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("./assets/deal-zabo.png");
    width: 730px;
    height: 414.13px;
    margin-left: 25px;
    border-radius: 14px;
    text-align: center;
}

.zabo h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
}

.zabo a{
    color: white;
    font-size: 1.5rem;
}
.zabo-contants{
    padding: 142px 0;
}


.double-image{
    height: 423.13px;
}

.double-image h3{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.double-image a{
    color: white;
}



@media screen and (max-width: 576px){
    .deal-container{
        margin: 0;
        margin-bottom: 50px;
        padding: 0 20px;
        text-align: center;
    }
    .deal-pic{
        grid-template-columns: 1fr;
        
    }

    .Deals{
        margin-bottom: 50px;
    }

    .zabo{
        width: 356px;
        height: 192px;
        margin: 0;
    }
    .deal-container h3{
        font-size: 1.5rem;
    }
    .deal-container p{
        width: 336px;
        height: 68px;
        font-size: 0.8rem;
    }
    .zabo-contants, .ana-contants, .bolom-contants{
        padding: 50px 0;
    }

}

/* Join */

.join-container{
    width: 100%;
    height: 448px;
    background-image: url("./assets/news-letter-bg.png");
    color: white;
    text-align: center;
    
}

.join-container h3{
    font-size: 3rem;
    margin-bottom: 15px;
}

.join{
    padding: 140px 0;
}

.input{
    width: 100%;
    height: 50px;
}

.input input{
    width: 644px;
    height: 50px;
    border: none;
    padding-left: 15px;
}

.input button{
    width: 186px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 576px){
    .join-container{
        height: 275px;
    }

    .join-container h3{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .input{
        width: 100%;
        height: 50px;
    }
    .join{
        padding: 70px 0;

    }
    .input input{
        width: 218px;
        height: 50px;
        border: none;
        padding-left: 15px;
    }
    .input button{
        width: 100px;
        height: 50px;
        
    }

}

/* footer */

.footer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-logo{
    width: 340px;
    height: 179;
    margin-right: 90px;
}

.footer-List{
    width: 85px;
    height: 248px;
    margin-right: 90px;
}

.footer-List ul{
    padding: 0;
}

.footer-List ul li{
    list-style: none;
    margin-bottom: 30px;
}

.footer-List a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.452);;
}

.footer-image img{
    margin-right: 20px;
}

@media screen and (max-width: 576px){
    .footer{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .footer-image{
        margin-top: 25px;
    }
}
